<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.SeckillDao">
    <update id="reduceNum">
        UPDATE
        seckill
        SET
        number = number - 1
        WHERE
        seckill_id = #{seckillid} AND start_time <![CDATA[<=]]> #{killtime}
        AND end_time >= #{killtime} AND NUMBER >0;
    </update>



    <select id="queryById" resultType="Seckill" parameterType="long">

        SELECT * FROM seckill WHERE seckill_id = #{seckillid};

    </select>
    <select id="queryAll" resultType="Seckill" parameterType="int">

        SELECT *
        FROM seckill
        ORDER BY create_time DESC
        limit #{offset},#{limit};

    </select>

<select id="killByProcedure" statementType="CALLABLE">
    call executeSeckill(
    #{seckillid,jdbcType=BIGINT,mode=IN},
    #{userphone,jdbcType=BIGINT,mode=IN},
    #{killTime,jdbcType=TIMESTAMP,mode=IN},
    #{result,jdbcType=INTEGER,mode=OUT}
    )

</select>

</mapper>